html, body{
    height: 100px;
}
body {
    text-align: center;
    /* background-color: #011F3F; */
    background-color: black;
    min-height: 100%;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid #FEF2BF;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .questionmark{
    background-color: white;
    position: relative;
    border-radius: 50%;
    top: -150px;
    left: 700px;
  }
  .questions p{
    color: black;
    background-color: white;
    border: 10px solid #FEF2BF;
    font-size: smaller;
    padding: 5px;
    width: 175px;
    left: 1300px;
    top: -150px;
    position: relative;
    visibility: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /* .questions img:hover{
    display: contents;
  } */
  .questions{
    height: 0px;
  }
  @media (max-width:964px)
  {
    .questionmark{display: none;}
  }
  